name: Internal CI

on:
  push:
    branches-ignore:
      - main

permissions:
  contents: read
  pull-requests: write
  checks: write # needed if reporter is github-pr-check or github-check

jobs:
  internal-ci:
    name: Internal CI
    uses: ./.github/workflows/run_npm_ci_scripts.yml
    secrets: inherit
    with:
      working_directory: '.'
      commit_identifier: ${{ github.sha }}

  semgrep:
    uses: ./.github/workflows/run_semgrep_scan.yml
    secrets: inherit
    with:
      commit_identifier: ${{ github.sha }}
      cancel_in_progress: true
      semgrep_config: 'p/ci p/security-audit p/javascript'
      semgrep_targets: './*.js ./*.mjs ./*.json scripts/ .github/actions/' ## only scanning recently changed files, eventually should cover whole .github/actions/ folder
      fail_severity: 'error'
      semgrep_scan_mode: 'diff'
      reviewdog_filter_mode: 'added'
      reviewdog_reporter: 'github-pr-review'
